.twindow,.gpu_window {
  background-color: #efefef;
  border: 2px solid black;
  border-radius: 10px 10px 0 10px;
  margin: 10px;
  padding: 2px;
  display:inline-block;
  text-align: left;
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.twindow header {
  background-color:#666666 ;
  margin: 0px;
  padding: 5px 10px 5px 10px ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  color: #FFFFFF;
  /*font-family: 'Walter Turncoat', cursive;*/
}

.gpu_window header {
  background-color:#ff2222 ;
  margin: 0px;
  padding: 5px 10px 5px 10px ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  color: #FFFFFF;
  /*font-family: 'Walter Turncoat', cursive;*/
}

.twindow header:hover {
  background-color: #333334;
  cursor: move;
}

.twindow header label {
  -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
          user-select: none;          /* Likely future */      
}

.twindow canvas {
  background-image: url("../css/background.png");
}
.gpu_window canvas {
  background-image: url("../css/background.png");
}

.twindow footer {
  font-size : 0.6em;
  margin: 0px;
  padding: 0px;
  /* Required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}


